@use "../utilities" as u;

.card-container {
  background: white;
  width: 90%;
  height: fit-content;
  max-width: u.rem(900);
  margin: 0 auto;
  border-radius: u.rem(8);
  box-shadow: u.rem(8) u.rem(16) u.rem(42) rgba(159, 166, 173, 0.227);

  .img-container {
    height: u.rem(230);
    overflow: hidden;

    img {
      border-top-left-radius: u.rem(8);
      border-top-right-radius: u.rem(8);

      @include u.breakpoint(medium) {
        border-bottom-left-radius: u.rem(8);
        border-top-right-radius: 0;
        height: 100%;
        object-fit: cover;
        object-position: 10% 10%;
      }
    }

    @include u.breakpoint(medium) {
      height: auto;
      min-width: u.rem(320);
    }
  }

  @include u.breakpoint(medium) {
    display: flex;
    align-items: stretch;
  }
}

.text-container {
  padding: u.rem(42) u.rem(28) u.rem(28) u.rem(28);
  position: relative;

  @include u.breakpoint(medium) {
    padding: u.rem(28);
  }
}

.author-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .author {
    display: flex;
    gap: u.rem(16);
  }

  .author-img-container {
    width: u.rem(42);
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }

  .author-info-container {
    display: flex;
    flex-direction: column;

    .author-name {
      font-size: u.rem(15);
      color: var(--very-dark-grayish-blue);
      font-weight: 700;
      margin-bottom: u.rem(2);
    }

    .date {
      font-size: u.rem(15);
      color: var(--grayish-blue);
    }
  }
}

.icon-container {
  border-radius: 50%;
  width: u.rem(36);
  height: u.rem(36);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-grayish-blue);
}
