@use "../utilities" as u;

.card-container {
  background: white;
  max-width: 90%;
  margin: 0 auto;
  border-radius: u.rem(8);

  .img-container {
    max-height: u.rem(230);
    overflow: hidden;

    img {
      border-top-left-radius: u.rem(8);
      border-top-right-radius: u.rem(8);
    }
  }
}

.text-container {
  padding: u.rem(42) u.rem(28) u.rem(28) u.rem(28);
}

.author-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .author {
    display: flex;
    gap: u.rem(16);
  }

  .author-img-container {
    width: u.rem(42);
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }

  .author-info-container {
    display: flex;
    flex-direction: column;

    .author-name {
      font-size: u.rem(15);
      color: var(--very-dark-grayish-blue);
      font-weight: 700;
      margin-bottom: u.rem(2);
    }

    .date {
      font-size: u.rem(15);
      color: var(--grayish-blue);
    }
  }
  .icon-container {
    border-radius: 50%;
    width: u.rem(36);
    height: u.rem(36);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-grayish-blue);
  }
}
