@use "../utilities" as u;

.share-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  background: var(--very-dark-grayish-blue);
  padding: u.rem(28);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: u.rem(8);
  border-bottom-right-radius: u.rem(8);

  @include u.breakpoint(medium) {
    width: fit-content;
    border-radius: u.rem(8);
    padding: u.rem(16) u.rem(32);
    bottom: u.rem(80);
    right: u.rem(-76);
  }

  .socials-container {
    display: flex;
    gap: u.rem(24);

    .title {
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 600;
      font-size: u.rem(15);
      color: var(--desaturated-dark-blue);
    }
  }

  .icon-container {
    background: var(--desaturated-dark-blue);

    img {
      color: white;
    }

    @include u.breakpoint(medium) {
      display: none;
    }
  }
}

.triangle {
  display: none;
  width: u.rem(20);
  height: u.rem(8);
  background: var(--very-dark-grayish-blue);
  position: absolute;
  bottom: u.rem(-8);
  left: 50%;
  clip-path: polygon(100% 0, 0 0, 50% 100%);

  @include u.breakpoint(medium) {
    display: initial;
  }
}
